* {
  box-sizing: border-box;
}

body {
  background: url("https://images.unsplash.com/photo-1476108621677-3c620901b5e7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80");
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.countdown-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-size: 6rem;
  margin: 5rem;
}

.time {
  font-size: 5rem;
  margin: 0 2rem;
  font-weight: 400;
}

.count-el {
  text-align: center;
}

span {
  font-weight: 500;
}
